<div id="home">

  <div class="topBanner">
    <span class="pageHeader">Get the latest Tech News</span>
    <button id="submit" class="btn btn-primary">Get Newest</button>
  </div>
  <div class="clear"></div>
  <div class="container">
    <h3>Articles:</h3>

    <ul id="article-list" class="list-group">
      {{#each content}}
      <li class="list-group-item row">

        <div class="center-align col s3 picture">
          <img src="{{this.photo}}">
        </div>

        <div class="col s8">
          <h5>{{this.userName}}</h5>
          <p>{{this.summary}}</p>
          <p>By {{this.author}}</p>
          <a href="{{this.url}}" class="btn btn-primary">Full Article</a>
          <button type="button" class="btn btn-danger" data-target="modal1" data-id="{{this._id}}"
            data-sum="{{this.userName}}" id="seeNote">See Note</button>
          <button type="button" class="btn btn-danger" data-id="{{this._id}}" data-sum="{{this.userName}}"
            id="writeNote">Write Note</button>
        </div>
      </li>
      <hr>
      {{/each}}
    </ul>

    {{!-- <div class="modal fade" id="notesModal" tabindex="-1" role="dialog" aria-labelledby="notesTitle" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header text-center">
            <h5 class="modal-title" id="modalUserName"></h5>
          </div>
          <div class="modal-body text-center">
            <form>
              <lable for="noteTitle">Note Title</lable><br>
              <input type="textarea" name="noteTitle"><br>
              <lable for="noteBody">Note</lable><br>
              <textarea type="textarea" name="noteBody" rows="3"></textarea><br>
              <input type='hidden' name='id' id="articleId"></input>
              <button type="button" class="btn" id="addNote">Add Note</button>
              <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
            </form>
          </div>
          <div class="modal-footer">

          </div>
        </div>
      </div>
    </div> --}}

    <div id="notesModal" class="modal">
      <div class="modal-content">
        <h4 id="modalUserName"></h4>
        <h6>Note Title</h6>
        <input type="textarea" id="noteTitle">
        <h6>Note</h6>
        <textarea type="textarea" id="noteBody" rows="3"></textarea>
        <button class="btn" id="addNote">Add Note</button>
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
      </div>
    </div>


  </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="js/index.js"></script>